<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Autor" content="Yudieskel Roque Cardentey">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="shortcut icon" href="../images/icon musica libre.png" type="image/png">
    <title>Música Libre</title>
</head>
<body>
    <h1><%= mensaje %></h1>
    <div>
        <h2><%= estatus %></h2>
    </div>
    <a href= <%= regresar %> > <%= mensajeRegresar %> </a>
    <img src=<%= imagen %> alt=<%= alternativo %> >
</body>
</html>